* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  width: 43%;
  .user-nav {
    border: 0.01em solid #dbdbdb;
    display: flex;
    padding: 10px;

    .img-profilepic {
      height: 38px;
    }
    .user-info {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .user-id {
        font-weight: bold;
      }

      .user-location {
      }
    }
  }

  .user-img {
    border: none;
    margin: 0px;
    padding: 0px;

    .img-byungmin {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-comment-section {
    border: 0.01em solid #dbdbdb;

    .comment-icons {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px 10px;
      .comment-icon-left {
        .heart-icon {
          height: 25px;
          margin-right: 20px;
        }
        .comment-icon {
          height: 25px;
          margin-right: 20px;
        }
        .dm-icon {
          height: 25px;
        }
      }

      .comment-icon-right {
        .share-icon {
          height: 25px;
        }
      }
    }

    .user-comment {
      .user-comment-one {
        padding: 5px 0px 0px 15px;
        .user-comment-more {
          color: #909090;
          margin-left: 5px;
        }
        .view-more {
          font-size: 14px;
          color: #909090;
        }
      }
      .user-comment-next {
        padding: 0px 0px 0px 15px;
      }

      .user-id-span {
        font-weight: 550;
      }
      .user-comment-span {
        padding: 0px 0px 5px 15px;
      }
    }

    .time {
      padding: 10px 0px 10px 15px;
      font-size: 13px;
      color: #909090;
    }

    .comment-likebtn {
      height: 15px;
    }

    .new-comment {
      display: flex;
      border-top: 0.01em solid #dbdbdb;
      padding: 15px;
      .write-new-comment {
        border: none;
        width: 100%;
        height: 100%;
        font-size: 15px;
      }
      .upload-btn {
        border: none;
        font-size: 15px;
        color: #bfe0fd;
        background-color: white;
        width: 10%;
        cursor: pointer;
      }
      .upload-btn:hover {
        color: #5fa1d0;
      }
    }
  }
}

// .nav-main {
//   // display: flex;
//   // align-items: center;
//   // justify-content: space-between;
//   // height: 8vh;

//   .main-div {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border-bottom: 0.1px solid lightgray;
//     width: 1400px;
//     padding: 15px;
//   }

//   .nav-one {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .instalogo {
//       height: 32px;
//       margin-left: 200px;
//     }
//   }

//   .nav-two {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .search-box {
//       height: 40px;
//       width: 260px;
//       background-color: #efefef;
//       border: none;
//       border-radius: 10px;
//       font-size: 17px;
//       padding-left: 20px;
//       margin-left: 55px;
//     }
//   }

//   .nav-three {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 23px;
//     margin-right: 25px;

//     .icon {
//       height: 23px;
//     }

//     .icon-two {
//       margin-left: 23px;
//     }

//     .icon-three {
//       margin-left: 23px;
//     }

//     .icon-four {
//       margin-left: 23px;
//       margin-right: 200px;
//     }
//   }
// }

/* 
.feeds{

}

.article{

}

.main-right{
  
}

.profile{
} */
